; 请妥善保管您的配置
registry=https://nmtsoft-npm.pkg.coding.net/firefly/main/
always-auth=true
//nmtsoft-npm.pkg.coding.net/firefly/main/:username=firefly-blog-deploy
//nmtsoft-npm.pkg.coding.net/firefly/main/:_password=${PKG_PW}
//nmtsoft-npm.pkg.coding.net/firefly/main/:email=haozhennan@outlook.com
